<div class="container">
    <div class="formulaire">
        <div class="titre">
        <h1>Ajouter une infirmiere</h1>
        </div>
        <form [formGroup]="formulaireinfirmiere" (ngSubmit)="envoyerFormulaire()">
          <div class="form">
            <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Adresse id : </mat-label>
                <input matInput placeholder="Id de l'adresse" formControlName="adresse" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.adresse.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Numero professionnel : </mat-label>
                <input matInput placeholder="Numero professionnel" formControlName="numero_professionnel" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.numero_professionnel.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Nom : </mat-label>
                <input matInput placeholder="Nom" formControlName="nom" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.nom.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>

              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Prenom : </mat-label>
                <input matInput placeholder="Prenom" formControlName="prenom" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.prenom.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Tel professionnel : </mat-label>
                <input matInput placeholder="Tel professionnel" formControlName="tel_pro" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.tel_pro.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>

              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Tel personnel : </mat-label>
                <input matInput placeholder="Tel personnel" formControlName="tel_perso" required>
                <mat-error *ngIf="formulaireinfirmiere.controls.tel_perso.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
          
            </div>
            <div class="buttons">
              <button mat-raised-button color="primary" type="submit" id="valider" nom="valider" [disabled]="!formulaireinfirmiere.valid">Valider</button>
              <a routerLink="/" mat-raised-button type="button" id="retour" nom="retour">Retour</a>
            </div>
        </form>
    </div>
    <div class="affichage">
        <div class="titre">
            <h1>La liste des infirmieres</h1>
        </div>
        <table mat-table [dataSource]="infirmieres" class="mat-elevation-z8">
            <ng-container matColumnDef="adresse">
              <th mat-header-cell *matHeaderCellDef> Adresse </th>
              <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.adresse.numero}} {{infirmiere.adresse.rue}} {{infirmiere.adresse.cp}} {{infirmiere.adresse.ville}}</td>
            </ng-container>
          
            <ng-container matColumnDef="numero_professionnel">
              <th mat-header-cell *matHeaderCellDef> Numéro professionnel </th>
              <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.numero_professionnel}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.nom}} </td>
            </ng-container>
          
            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef> Prenom </th>
              <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.prenom}} </td>
            </ng-container>

            <ng-container matColumnDef="tel_pro">
                <th mat-header-cell *matHeaderCellDef> Tel professionnel </th>
                <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.tel_pro}} </td>
              </ng-container>

              <ng-container matColumnDef="tel_perso">
                <th mat-header-cell *matHeaderCellDef> Tel personnel </th>
                <td mat-cell *matCellDef="let infirmiere"> {{infirmiere.tel_perso}} </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    </div>    
