
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

mat-form-field.mat-form-field {
    font-weight: bold;
    font-size:medium;
  }

.formulaire{
    margin-top: 2em;
    margin-bottom: 3em;;
    width:60%;
    display: flex;
    flex-direction: column;
}
.affichage{
    margin-top: 2em;
    margin-bottom: 3em;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.titre{
    display: flex;
    justify-content: center;
}
.titre h1{
    font-weight: bold;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
}
.full-width
{
    width:40%;
    margin:1em;
}

#valider, #retour{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
}
