<div class="container">
    <div class="formulaire">
        <div class="titre">
        <h1>Ajouter une adresse</h1>
        </div>
        <form [formGroup]="formulaireadresse" (ngSubmit)="envoyerFormulaire()">
          <div class="form">
            <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Numéro : </mat-label>
                <input matInput placeholder="Numéro" formControlName="numero" required>
                <mat-error *ngIf="formulaireadresse.controls.numero.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Rue : </mat-label>
                <input matInput placeholder="Rue" formControlName="rue" required>
                <mat-error *ngIf="formulaireadresse.controls.rue.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Code Postal : </mat-label>
                <input matInput placeholder="Code postal" formControlName="cp" required>
                <mat-error *ngIf="formulaireadresse.controls.cp.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Ville : </mat-label>
                <input matInput placeholder="Ville" formControlName="ville" required>
                <mat-error *ngIf="formulaireadresse.controls.ville.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
          
            </div>
            <div class="buttons">
              <button mat-raised-button color="primary" type="submit" id="valider" nom="valider" [disabled]="!formulaireadresse.valid">Valider</button>
              <a routerLink="/" mat-raised-button type="button" id="retour" nom="retour">Retour</a>
            </div>
        </form>
    </div>
    <div class="affichage">
        <div class="titre">
            <h1>La liste des adresses</h1>
        </div>
        <table mat-table [dataSource]="adresses" class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> Numéro. </th>
              <td mat-cell *matCellDef="let adresse"> {{adresse.numero}} </td>
            </ng-container>
          
            <ng-container matColumnDef="rue">
              <th mat-header-cell *matHeaderCellDef> Rue </th>
              <td mat-cell *matCellDef="let adresse"> {{adresse.rue}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cp">
              <th mat-header-cell *matHeaderCellDef> Code Postal </th>
              <td mat-cell *matCellDef="let adresse"> {{adresse.cp}} </td>
            </ng-container>
          
            <ng-container matColumnDef="ville">
              <th mat-header-cell *matHeaderCellDef> Ville </th>
              <td mat-cell *matCellDef="let adresse"> {{adresse.ville}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    </div>    
