<div class="container">
    <div class="formulaire">
        <div class="titre">
        <h1>Ajouter un Patient</h1>
        </div>
        <form [formGroup]="formulairepatient" (ngSubmit)="envoyerFormulaire()">
          <div class="form">
            <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Adresse id : </mat-label>
                <input matInput placeholder="Id de l'adresse" formControlName="adresse" required>
                <mat-error *ngIf="formulairepatient.controls.adresse.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Infirmiere id : </mat-label>
                <input matInput placeholder="Id de l'infirmiere" formControlName="infirmiere" required>
                <mat-error *ngIf="formulairepatient.controls.infirmiere.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Nom : </mat-label>
                <input matInput placeholder="Nom" formControlName="nom" required>
                <mat-error *ngIf="formulairepatient.controls.nom.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>

              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Prenom : </mat-label>
                <input matInput placeholder="Prenom" formControlName="prenom" required>
                <mat-error *ngIf="formulairepatient.controls.prenom.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
    
              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Date de naissance : </mat-label>
                <input matInput placeholder="Date de naissance" formControlName="date_de_naissance" required>
                <mat-error *ngIf="formulairepatient.controls.date_de_naissance.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>

              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>sexe : </mat-label>
                <input matInput placeholder="Sexe (homme, femme, helicoptere ou casserole)" formControlName="sexe" required>
                <mat-error *ngIf="formulairepatient.controls.sexe.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>

              <mat-form-field color="primary" class="full-width" appearance="fill">
                <mat-label>Numéro de sécurité sociale : </mat-label>
                <input matInput placeholder="Numero de securité sociale" formControlName="numero_securite_sociale" required>
                <mat-error *ngIf="formulairepatient.controls.numero_securite_sociale.errors?.required">
                  Champs requis
                </mat-error>
              </mat-form-field>
          
            </div>
            <div class="buttons">
              <button mat-raised-button color="primary" type="submit" id="valider" nom="valider" [disabled]="!formulairepatient.valid">Valider</button>
              <a routerLink="/" mat-raised-button type="button" id="retour" nom="retour">Retour</a>
            </div>
        </form>
    </div>
    <div class="affichage">
        <div class="titre">
            <h1>La liste des patients</h1>
        </div>
        <table mat-table [dataSource]="patients" class="mat-elevation-z8">
            <ng-container matColumnDef="adresse">
              <th mat-header-cell *matHeaderCellDef> Adresse </th>
              <td mat-cell *matCellDef="let patient"> {{patient.adresse.numero}} {{patient.adresse.rue}} {{patient.adresse.cp}} {{patient.adresse.ville}}</td>
            </ng-container>
          
            <ng-container matColumnDef="infirmiere">
              <th mat-header-cell *matHeaderCellDef> Infirmiere </th>
              <td mat-cell *matCellDef="let patient"> {{patient.infirmiere.nom}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let patient"> {{patient.nom}} </td>
            </ng-container>
          
            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef> Prenom </th>
              <td mat-cell *matCellDef="let patient"> {{patient.prenom}} </td>
            </ng-container>

            <ng-container matColumnDef="date_de_naissance">
                <th mat-header-cell *matHeaderCellDef> Date de naissance </th>
                <td mat-cell *matCellDef="let patient"> {{patient.date_de_naissance}} </td>
              </ng-container>

              <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef> Sexe </th>
                <td mat-cell *matCellDef="let patient"> {{patient.sexe}} </td>
              </ng-container>

              <ng-container matColumnDef="numero_securite_sociale">
                <th mat-header-cell *matHeaderCellDef> Numéro de sécurité sociale </th>
                <td mat-cell *matCellDef="let patient"> {{patient.numero_securite_sociale}} </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    </div>    
