a{
    color:#c90e1d;
    margin:2vw;
}
a:link {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
}
a:hover{
    text-decoration: underline;
    color:white;
    cursor: pointer;
}
.nav
{
    width:100%;
    display: inline-flex;
    justify-content: flex-end;
    list-style-type: none;
    border:none;
}
.header{
    display: flex;
    align-items: center;
    height: 72px;
    padding-left: 12px;
    border-bottom: 1px solid #c90e1d;
    background: black;
    color: #fff;
    line-height: 0;
    border:none;
}
.logo{
    width:100%;
}
.logo:hover{
    cursor: pointer;
}