<nav class="header">
  <div class="logo">
      <a routerLink="/" routerLinkActive="active">
          <img src="./assets/sarmi2-09.jpg">
      </a>
  </div>
  <ul class="nav">
      <span class="li"><li><a routerLink="/" routerLinkActive="active">Accueil</a></li></span>
      <span class="li"><li><a routerLink="/adresses" routerLinkActive="active">Adresses</a></li></span>
      <span class="li"><li><a routerLink="/patients" routerLinkActive="active">Patients</a></li></span>
      <span class="li"><li><a routerLink="/infirmieres" routerLinkActive="active">Infirmieres</a></li></span>
  </ul>
</nav>
<router-outlet></router-outlet>