.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texte{
    width: 70%;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 5em;
    text-align: center;
    color:black;
    font-weight: bold;
}
h2{
    margin-top: 3em;
    text-align: center;
    color:black;
}
h1:hover{
    color:#c90e1d;
}
h2:hover{
    color:#c90e1d;
}