<div class="container">
    <div class="texte">
        <h1>Binvenue dans votre cabinet medical</h1>
        <h2> Veuillez utiliser le menu pour naviguer dans les différents services</h2>
    </div>
</div>>
